/*import custom fonts*/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font//CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: bubblegums;
  src: url('./assets/font/06384_BUBBLEGU.ttf');
  font-weight: 300;
}

/*default css for html and body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
:root{
  align-items: center;
}

body {
  font-weight: 400;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

image {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/*nav bar styles*/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  background-image: url('./assets/img/banner-bg.png');
  width: 100%;
  top: 0;
  z-index: 9999999;
  transition: 0.32 ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  position: left;
  width: 10%;
  font-family: 'bubblegums', 'Helvetica Neue';
  color: #c58aec;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  display: flex;
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  margin-left: 18px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin: 10px 0 10px 0;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 60%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 34px;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.themeSwitch {
  margin-left: 15px;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* Banners */
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  /*background-image: url('./assets/img/banner-bg.png');*/
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
}

.banner .tagline {
  /*font-family: 'bubblegums', 'Helvetica Neue' !important;*/
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 5px;
  /*background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);*/
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-family: 'bubblegums', 'Helvetica Neue' !important;
  font-size: 30px;
  font-weight: 700;
  color: #c58aec;
  letter-spacing: 0.8px;
  line-height: 1;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner a{
  text-decoration: none !important;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  margin-top: 30px;
  animation: updown 3s linear infinite;
  justify-content: center;
  text-align: center;
  display: block;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}
/*Skills*/
.skills{
  margin-top: 0;
  padding: 200px 0 150px 0;
  background-size: cover;
  display: grid;
  justify-content: center center!important;
  align-items: center;
  text-align: center !important;
  border-radius: 20px !important;
}
.skills h1{
  font-family: 'bubblegums', 'Helvetica Neue' !important;
  color: #c58aec;
  justify-self: center ;
}
.skills-icon {
  display: inline-block;
  margin: 10px 0 10px 0;
}
.skills-icon img{
  display: inline-block;
  margin: 5px;
}
.img-container {
  position: relative;
  display: inline-block;
}

.hover-img {
  display: block;
  width: 200px; /* Adjust as needed */
  height: auto;
}

.img-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(29, 23, 41, 0.753); /* Adjust background color and opacity */
  color: white;
  z-index: 1;
  padding: 10px;
  text-align: center;
  opacity: 0; /* Hide the label by default */
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover .img-label {
  opacity: 1; /* Show the label on hover */
}
/* Projects */
.projects {
  margin-top: 0;
  padding: 200px 0 260px 0;
  border-radius: 20px;
  /*background-image: url('./assets/img/banner-bg.png');*/
  display: block;
  justify-content: center center!important;
  text-align: center !important;
}
.projects h1{
  font-family: 'bubblegums', 'Helvetica Neue' !important;
  color: #c58aec;
  justify-self: center ;
}
.project{
  display: flex;
}
.project-items{
  text-align: left;
  display: flex;
  margin: 10px;
  flex-direction: row;
  gap: 1rem;
  overflow-y: auto;
}
.project button {
  font-family: 'bubblegums', 'Helvetica Neue' !important;
  color: #c58aec;
}
.top-close{
  text-align: right !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 58, 85, 0.637);
  /* Semi-transparent black overlay */
  z-index: 9999;
  /* Place the overlay above everything else */
}

.selected-details {
  border: solid #c58aec !important;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  z-index: 10000;
  /* Place the details above the overlay */
  /* ... add your styling for the selected details here ... */
  width: 2000px !important;
  max-height: 200px !important;
  margin-left: 100px !important;
  overflow-x: auto;
  padding: 10px;
  border-radius: 20px;

}
.selected-details div{
  display: grid !important;
}
.selected-details div span{
  margin-bottom: 10px;
  display: flex !important;
  justify-content: center !important;
}
.selected-details div span a{
  text-decoration: none !important;
  color: #2f95bd;
  margin: 5px;
}
.project li{
  list-style-type: none;
  padding: 20px;
  border-radius: 20px;
}
::-webkit-scrollbar {
  height: 10px;
  width: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-thumb {
  background-image: url('./assets/img/banner-bg.png');
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(3, 3, 3, 0.2);
}
/*Footer*/
.footer {
  background-image: url('./assets/img/footer-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  bottom: 0;
}

.footer img {
  width: 26%;
}

.footer p {
  font-weight: 400;
  font-size: 10px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
}

/*dark mode*/